option_settings:
  aws:elb:listener:
    DefaultProcess: default
    ListenerEnabled: 'false'
  aws:elasticbeanstalk:environment:process:default:
    Port: '80'
  aws:elbv2:listener:30001:
    DefaultProcess: 30001
    ListenerEnabled: 'true'
  aws:elbv2:listener:30000:
    DefaultProcess: 30000
    ListenerEnabled: 'true'
  aws:elasticbeanstalk:environment:process:30000:
    Port: '30000'
  aws:elbv2:listener:30001:
    DefaultProcess: 30001
    ListenerEnabled: 'true'
  aws:elasticbeanstalk:environment:process:30001:
    Port: '30001'
  aws:elbv2:listener:30002:
    DefaultProcess: 30002
    ListenerEnabled: 'true'
  aws:elasticbeanstalk:environment:process:30002:
    Port: '30002'
  aws:elbv2:listener:30003:
    DefaultProcess: 30003
    ListenerEnabled: 'true'
  aws:elasticbeanstalk:environment:process:30003:
    Port: '30003'
  aws:elbv2:listener:30004:
    DefaultProcess: 30004
    ListenerEnabled: 'true'
  aws:elasticbeanstalk:environment:process:30004:
    Port: '30004'
  aws:elbv2:listener:30005:
    DefaultProcess: 30005
    ListenerEnabled: 'true'
  aws:elasticbeanstalk:environment:process:30005:
    Port: '30005'
